html,
body {
  height: 100%;
}

ul{
  list-style-type: none;
}

.body-signin {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.body-main {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-main {
  margin:0 auto;
}


.form-main input[type="search"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#topthree{
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

#id_transactiondate{
  width: 100px;
  margin:10px
}

#id_hh{
  width: 80px;
  margin: 10px
}

#id_itemid{
  width: 225px;
  margin:10px
}

#id_quantity{
  width: 50px;
  margin: 10px
}

#id_notes{
  width: 200px;
  margin: 10px
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}