
{% extends 'inventory/base.html' %}

{% block content %}
{% include 'inventory/navbar.html' %}
    <div class = 'form-main'>
        <form id="form-container" method="POST">
            <button id="add-form" type="button">Add Another Item</button>
            {% load crispy_forms_tags %}
            {% csrf_token %}
            {{transaction_formset.management_form}}
            {% for form in transaction_formset %}
                {% crispy form %}
            {% endfor %}
            
        </form>
    </div>
    <script>
            let checkout = document.querySelectorAll("#parentdiv")
            let parentdiv = document.querySelector("#parentdiv")
            let container = document.querySelector("#topthree")
            let addButton = document.querySelector("#add-form")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
            

            let formNum = checkout.length-1
            addButton.addEventListener('click', addForm)

            function addForm(e){
                e.preventDefault()
                let dateinput = document.getElementById("id_form-0-transactiondate").value 
                let hh = document.getElementById("id_form-0-hh").value
                let newForm = container.cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')
                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                parentdiv.appendChild(newForm)
                
                let select2hide = document.getElementsByClassName('text-center')[0].childNodes[3].children[0][7].children[1].children[formNum].children[2].getElementsByClassName('controls')[0].children[1]
                
                select2hide.style="display: none";
                
                totalForms.setAttribute('value', `${formNum+1}`)
                document.getElementById(`id_form-${formNum}-transactiondate`).value = dateinput
                document.getElementById(`id_form-${formNum}-hh`).value = hh
                document.getElementById('id_form-0-itemid').hidden = true
                
            }
        // });   
    </script>
{% endblock %}
