{% extends 'inventory/base.html' %}

{% block content %}
{% include 'inventory/navbar.html' %}
    <div class = 'form-main'>
        {% load crispy_forms_tags %}
        <form method="POST">
            {% csrf_token %}
            <div class = "checkout">
                {% crispy transactionform transactionform.helper %}
            </div>
            
            <button id="add-form" type="button">Add Another Item</button>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        let checkout = document.querySelectorAll(".checkout")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        
        
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()
            var hh = document.getElementById("id_hh").value
            console.log(hh)
        }
    </script>
{% endblock %}