{% extends 'inventory/base.html' %}

{% block content %}
{% include 'inventory/navbar.html' %}
{% include 'inventory/pumpnavbar.html' %}
    <h1>Pump Check-in</h1>
    <div class = 'form-main'>
        <form id="form-container" method="POST">
            {% load crispy_forms_tags %}
            {% csrf_token %}
            {{transaction_formset.management_form}}
            <div class="checkout">
            {{form.as_p}}
            </div>
            <button type="submit">Check-in</button>
        </form>
    </div>
   
{% endblock %}