{% extends 'inventory/base.html' %}

{% block content %}
{% include 'inventory/navbar.html' %}
  <div class = 'form-main'>
    <form id="form-container" method="GET" hhrequest_url="{% url 'ajax_transactions' %}" novalidate >
        {% csrf_token %}
        {% for form in transaction_formset %}
          {{form.as_p}}
        {% endfor %}

    </form>
  </div>
  
  <div id = 'inventory'>
    
  </div>
  <script>
    $("#id_form-0-hh").on("change keyup paste",function () {
      // event.preventDefault
      
      var url = $("#form-container").attr("hhrequest_url");  
      var hh = $("#id_form-0-hh").val(); 
      console.log(url)
      $.ajax({                       
        url: url,                    
        data: {
          'hh':hh,
        },
        
        success: function (data) {   
          $("#inventory").html(data);  
        }
      });
    });
  </script>
  
{% endblock %}